<script type="text/javascript">
/*******************************************/
/** load                                  **/
/*******************************************/ 
$().ready(function() {
     
  $("tr[name^='detalhe_']").hide();
  $("a[name^='o_']").hide();
  
  $("a[name^='m_']").click(function() {
    var nome = $(this).attr("id");
    $("a[name='m_"+nome.substr(2)+"']").hide();    
    $("a[name='o_"+nome.substr(2)+"']").show();        
    $("tr[name='detalhe_"+nome.substr(2)+"']").show();
    return false;
  });
  
  $("a[name^='o_']").click(function() {
    var nome = $(this).attr("id");
    $("a[name='m_"+nome.substr(2)+"']").show();    
    $("a[name='o_"+nome.substr(2)+"']").hide();        
    $("tr[name='detalhe_"+nome.substr(2)+"']").hide();
    return false;
  });
    
  $("#voltar").click(function(){
    window.location.href='{PAGINA_VOLTAR}';
  });    
});
</script>

<style>
  #form1 {
    max-width:600px;
    margin: 0 auto;
  }
</style> 

<form id="form2" name="form2" method="post" action="" target="">
  <input type="hidden" id="id" name="id" value="">
  <input type="hidden" id="atcad" name="atcad" value="">
  <input type="hidden" id="op" name="op" value="">
  <input type="hidden" id="re" name="re" value="">
</form>

<!-- BEGIN ERRO -->
<div class="alert {CLASSE}">
  {MSG}           
</div>
<!-- END ERRO -->  
          
<!-- BEGIN REGISTROS -->          
<div class="container">
  <table class="table">
   
  
    <tr bgColor="#CCCCCC">
      <th>Data</td>                
      <th>Titulo</td>
      <th></td>
      <th></td>
      <th></td>                  
      <th></td>                  
      <th class="iconeBotao"></td>
      <th class="iconeBotao"></th>
      <th class="iconeBotao"></th>                  
      <th class="iconeBotao"></th>                   
    </tr>
	 <!-- BEGIN BLOCO -->
    <!-- BEGIN REGISTRO -->                
    <tr bgColor="{COR_LINHA}">
      <td>{DATA}</td>                
      <td>{TITUL}</td>
      <td></td>                  
      <td></td>
      <td></td>                   
      <td></td>                   
      <td>
                            
      </td>
      <td>
                           
      </td>                  
      <td>  
                        
      </td>                  
      <td>
        <!-- BEGIN BOTAO_MAIS -->
        <a href="#" id="m_{ATCAD}" name="m_{ATCAD}" title="mostrar detalhes"><i class="icon-plus-sign"></i></a>
        <a href="#" id="o_{ATCAD}" name="o_{ATCAD}" title="ocultar detalhes"><i class="icon-minus-sign"></i></a>                                      
        <!-- END BOTAO_MAIS -->                    
      </td>
    </tr>
    <tr id="detalhe_{ATCAD}" name="detalhe_{ATCAD}" bgColor="{COR_LINHA}">
      <td colspan="9">
        <table class="table">
         <!-- BEGIN ALTERACAO -->                    
          <tr>
            <td>{MENSAGEM}</td>
          </tr>               
          <!-- END ALTERACAO -->                                                                                    
        </table>
      </td>
    </tr>                 
    <!-- END REGISTRO --> 
    <!-- END BLOCO -->                
  </table>
</div>

<!-- END REGISTROS -->
