<script type="text/javascript">
/*******************************************/
/** load                                  **/
/*******************************************/ 
$().ready(function() {     
  $("#nome1").keyup(function (event) {
    if ($(this).val().length == 0) {
      $("#resultado").hide();
    } else {
      $.post('buscaUsuarios.php?idSessao={ID_SESSAO}',{
          nome : $(this).val()
        },

        function(resposta){
          $("#resultado").show();
          $("#resultado").html(resposta);
        }
      );
    }
  });

  lista();
 
});
function lista() {   
  $.post('../comum/listaCarteirinhas.php?idSessao={ID_SESSAO}',{
    },

    function(resposta){     
      $("#solicitados").html(resposta);     
    }
  );
}     
</script>
<form  id="form1" name="form1"  > 
  <div class="control-group">
    <label class="control-label" for="data_cancelamento">Digite o nome do beneficiário:</label>
    <div class="controls">
      <input class="input-xlarge" type="text" id="nome1" name="nome1" laceholder="Digite o nome do beneficiário" autocomplete="off"/>              
    </div>
	<div id="resultado"></div>
	<div id="erros" class="error"></div>
  </div>      
</form>