<script type="text/javascript">
/*******************************************/
/** load                                  **/
/*******************************************/  
$().ready(function() {
  $("#datainicial").mask("99/9999");  
  $("#datafinal").mask("99/9999");  
});
</script>

<style>
  #formulario {
    max-width:600px;
    margin: 0 auto;
  }
</style> 

<!-- BEGIN ERRO -->
<div class="alert {CLASSE}">
  {MSG}
</div>
<!-- END ERRO -->  

<div class="alert alert-info">
  Dispon&iacute;vel os 12 &uacute;ltimos meses para an&aacute;lise da empresa.
</div>

<form method="post" id="form1" name="form1" class="form-horizontal">

  <div class="control-group" id="formulario">
    <div class="control-group">
      <label class="control-label" for="mes">Per&iacute;odo:</label>
      <div class="controls">
        <input type="text" class="input-medium" name="datainicial" id="datainicial" value="{DATA_INICIAL}" />
        &nbsp;&nbsp; a &nbsp;
        <input type="text" class="input-medium" name="datafinal" id="datafinal" value="{DATA_FINAL}"/>
      </div>
    </div>    
    <div class="control-group">
      <label class="control-label" for="mes">&nbsp;</label>
      <div class="controls">
        <button class="btn btn-inverse" name="imprimir" id="imprimir">Imprimir</button>
      </div>    
    </div>  
  </div>    
</form>
    