<script type="text/javascript">
/*******************************************/
/** load                                  **/
/*******************************************/  
$().ready(function() {
$('#form1').validate({
	rules: {
		assunto: {
			required: true,
			minlength: 5
		}
	},
	messages: {
		assunto: {
			required: "Campo de preenchimento obrigatório",
			minlength: "O assunto deve ter no mínimo 5 caracteres" 
		}
	}
});
});
</script>

<style>
  #formulario {
    max-width:600px;
    margin: 0 auto;
  }
  
</style> 

<!-- BEGIN ERRO -->
<div class="alert {CLASSE}">
  {MSG}
</div>
<!-- END ERRO -->  

<form method="post" id="form1" name="form1" class="form-horizontal" enctype="multipart/form-data">

  <div class="control-group" id="formulario">
    <div class="control-group">
      <label class="control-label" for="mes">Arquivo:</label>
      <div class="controls">
        <div class="input-append">
          <input name="arquivo" type="file" id="arquivo"/>                   
        </div>
      </div>
    </div>   
    <div class="control-group">
      <label class="control-label" for="mes">Assunto:</label>
      <div class="controls">
        <input name="assunto" type="text" id="assunto" size="40" maxlength="60"/>
        <input type="submit" class="btn btn-inverse" id="enviar" name="enviar" value="Enviar"/>                                      
      </div>
    </div>  
    <!-- BEGIN PADRAO -->  
    <div class="control-group">
      <label class="control-label" for="mes">&nbsp;</label>
      <div class="controls">
        <button class="btn btn-inverse" onclick="javascript:enviar(0);">Imprimir</button>
      </div>    
    </div>  
    <!-- END PADRAO -->    
  </div>    
  <div class="control-group">
    <table class="table"> 
      <caption>Arquivos do diretório</caption>
      </tr> 
      <tr bgcolor="#EEEEEE">
        <td>Protocolo</td>
        <td>Data do envio</td>
        <td>Assunto</td>
        <td>Arquivo</td>
        <td>Tamanho</td>
        <td></td>
      </tr> 
      <!-- BEGIN LINHA -->
      <tr bgcolor="{COR_LINHA}">
        <td>
          {PROTOCOLO}
        </td>
        <td>{DATA_ENVIO}</td>
        <td>{ASSUNTO}</td>
        <td>{ARQUIVO}</td>
        <td>{TAMANHO}</td>
        <td>
          <img src="../comum/img/{IMAGEM_BTN}" alt="ocultar" border="0" />
        </td>
      </tr> 
                    
      <!-- END LINHA -->
    </table>
  </div>             
</form>
