input[type=text],td,select,p {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}

body {
  background: #ccc;
}

div.conteudo {
  background: #ccc url(../img/cartao_unimed.png) no-repeat;
  min-height:233px;
  _height:233px;
  margin-top: 25px;
  margin-left: 12px;
}

.label_1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  color : #FFF; 
}

.label_2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color : #FFF; 
}

.label_3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color : #FFF; 
  padding-bottom: 8px;
}

.titulo_1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight:bold;
  color : #FFF; 
  padding: 10px;
}

.label_erro {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight:bold;
  color : red; 
}

.erro_ativo {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color : red; 
  background:#ccc;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 50px;
  top:0px;
  display:block;
}

.erro_inativo {
  display:none;
}

div.invisivel {
  display:none;
}

div.centro {
  display:block;
  position:relative;
  padding: 5px;
  top:50px;
}

.centro {
  display:block;
  position:relative;
  padding: 5px;
  margin-left: 5px;
  top:48px;
}

div.cadastro_div {
  padding-bottom: 15px;
  display:block;
  min-height:280px;
  background: #ccc url(../img/cartao_unimed.png) no-repeat;
  padding-top: 50px;  
}

.alteracao_div {
  background: #ccc url(../img/cartao_unimed.png) no-repeat;
  padding-bottom: 15px;
  display:block;
  min-height:280px;
  padding-top: 50px;   
}

.msg_alerta {
  background:#ffffd2;
  border: 1px solid yellow;   
  color:red;
  padding:10px;
  font-size: 11px;   
  font-family: Arial, Helvetica, sans-serif;  
  text-align:left; 
}

.bolinha:hover {
  cursor:pointer;
}

input[type=submit] {

}