/***********************
  Folha de estilo padrão
************************/

  html,
  body {
    height: 100%;      
    /* The html and body elements cannot have any padding or margin. */
    padding:0px;
    marging:0px;
    background: transparent;      
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  /* Set the fixed height of the footer here */
  #push,
  #footer {
    height: 60px;
  }
  
  #footer {
    background-color: #f5f5f5;
  }

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  header {
    padding: 0px;
    margin:0px;
    background: #fff url(../../comum/img/logo.gif) repeat-x;
    min-height:130px; 
    line-height:120px;
  }
  
  header img {
    padding: 0px;
    max-height: 120px;
  }
  
  header h1 {
    margin:0px;
    padding: 0px;
    line-height:120px;
  }      
  
  .container .credit {
    margin: 20px 0;
  } 

  .barraDivisoria {
    background:#eeeeee;
    text-align:center;
  }
  
  .destacado {
    color:rgb(198,0,0);
  } 

  .linkDisabled:hover {
    cursor: not-allowed;
  }
  
  .linkDisabled:hover {
    cursor: not-allowed;
  }    
        
  .iconeBotao {
    border: 0;
    width:25px;
    height:25px;
  }
  
  .navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;    
  }
  
  .ui-dialog-titlebar-close i {
    padding:0px;
    margin:0px;
  }
    
  .uppercase {
    text-transform: uppercase;
  }
  
  .lowercase {
    text-transform: lowercase;
  }
  
  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);    
  }
  
  .panel-info {
    border-color: #bce8f1;
  }
  
  .panel-gray {
    border-color: #c6c6c6;
  }  
  
  .panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  
  .panel-gray>.panel-heading {
    color: #333333;
    background-color: #f6f6f6;
    border-color: #c6c6c6;
  }
  
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  } 

  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
  } 

  .btn-menu {
    width:148px;
    height:148px;
    margin:8px;
    margin-top:0px;
  } 

  .btn-menu:hover {
    border: 1px solid gray;
  }
  
  .btn-menu>img {
    width:100px;
    height:100px;
  }   
  
  .panel-body {
    padding: 15px;
  }  

  td.success {
    background-color: #dff0d8;
  }
  td.error {
    background-color: #f2dede;
  }
  td.warning {
    background-color: #fcf8e3;
  }
  td.info {
    background-color: #d9edf7;
  }
  td.success-dark {
    background-color: #468847;
  }
  
  .logado {
    width:400px;
    float:right;
    height:20px;
    color:#FFF;
    text-align:right;
    padding-right:20px;
  }  
  
  .maisNoticiasTitulo {
    font-size: 14px;
    font-weight:bold;
    text-decoration:none;
    color: rgb(128,128,128);
  }

  .maisNoticiasTitulo:hover {
    font-size: 14px;
    font-weight:bold;
    text-decoration:underline;
    color: rgb(128,128,128);
  }
  
  .maisNoticias {
    font-size: 14px;
    text-decoration:none;
    color: rgb(128,128,128);
  }

  .maisNoticias:hover {
    font-size: 14px;
    text-decoration:underline;
    color: rgb(128,128,128);
  }
  