/**********************************************************************
  Folha de estilo especifico para a área do consultorio - Unimed Franca
***********************************************************************/
  
#consultorio .labelBotaoConsultorio {
  display: none;
}

#consultorio .painelBotoesConsultorio {
  margin:0px;
  padding:0px;
  border:0px;
}

#consultorio .btn-menu {
  width:140px;
  height:140px;
  margin:0px;
  padding:0px;
  border:0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;    
} 

#consultorio .btn-menu:hover {
  border: 1px solid silver;  
}

#consultorio .btn-menu>img {
  width:138px;
  height:138px;
  border: 1px solid silver; 
}  

#consultorio .navbar-inverse .navbar-inner {
  background-color:rgb(0,128,128);
  background-image: none;
  border-color:rgb(0,128,128);
}

#consultorio .navbar-inverse .nav .active > a {
    color: #FFF;
    background-color: rgb(0,128,128);
    box-shadow:none;
}

#consultorio .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    color: #FFF;
    background-color: rgb(0,168,168);
    border-color:#FFF;
}

#consultorio  header {
  padding: 0px;
  margin-top:0px;
  background: #fff url(../../comum/img/logo2.gif) repeat-x;
  min-height:122px; 
  line-height:121px;    
}
  
#consultorio  .logado {
  width:400px;
  float:right;
  height:20px;
  color:#FFF;
  text-align:right;
  padding-right:20px;  
}
  
#consultorio #footer {
  background-color: rgb(0,128,128);
}

#consultorio .muted, .muted a {
  color:#FFF;
}

#consultorio  #painelNoticiaHome {
  background-color: rgb(221,221,221);
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;  
}

#consultorio #painelNoticiaHome  .panel-title, .panel-gray>.panel-heading {
  border:none;
  background-color: rgb(221,221,221);
  color:#FFF;
}

#consultorio #barraDivisoriaTitulo {
  display:none;
}

#consultorio #barraTitulo {
  margin-top:20px;
  color: rgb(0,128,128);
}