<style type="text/css">
    applet#BiometricApplet {      
      height:250px;
      width:200px;
      border: 2px solid #9999FF;
      padding: 0px 0px;
      font-size: 10px;
      font-family: Verdana;
      overflow-y:scroll;
      vertical-align: top;
    }

    .erro1{
    font: normal 12px Verdana, Geneva, sans-serif;
    color:#F00;
    }
    .font1{
    font: normal 12px Verdana, Geneva, sans-serif;
    color:#030;
    }

    .font2{
      font: normal 12px Verdana, Geneva, sans-serif;
      color:#000;
      text-align: right;
    }

    .font3{
    font: bold 12px Verdana, Geneva, sans-serif;
    color:#000;
    }
    .sucesso1{
    font: normal 12px Verdana, Geneva, sans-serif;
    color:#069;
    }
    
    .c1 {
      width:100px;
    }         
    
</style>
    
<script type="text/javascript" src="../comum/biometria/VrBioApplet.js"></script>
<script type="text/javascript">
/*******************************************/
/** load                                  **/
/*******************************************/ 
$().ready(function() {
  $( "#dialog-form-biometria" ).dialog({
    autoOpen      : false,  
    width         : 600,
    closeOnEscape : false,
    close         : function(ev, ui) { 
    },
    resizable     : false,
    zIndex        : 5000,
    modal         : true      
  }); 
});
  
function capturarBiometria() {

  var retorno = false;
  
  $("#form-biometria").html('');
  
	$.ajax({
			url : '../comum/biometria/capturaBioDiv.php',
			data: {
        id_usuario: $("#numero_usuario").val()
      },
			type: 'POST',
			success : function(result){  
							    var result = eval('('+result+')');
                 
                  $("#form-biometria").html(result.html);  
                 
                  $( "#dialog-form-biometria" ).dialog( "open" );
                  
                                //VrBioApplet.applet.stopCapture();
                                VrBioApplet.start('BiometricApplet','form');
                                VrBioApplet.addField("digital");
                                //VrBioApplet.addField("digital2");
                                //      VrBioApplet.addField("fpData2");
                                //      VrBioApplet.addField("fpData3");
                                VrBioApplet.reset(); 
                  retorno = true;                                

 
                
						    }          
	});
  
  return retorno;

}

</script>

<div id="dialog-form-biometria" title="Biometria" class="erro1">
  <form id="form-bio">
    <div id="form-biometria">
    </div>
  </form>
</div>