<script type="text/javascript">
    
  $().ready(function() {
    $(".modal-backdrop" ).css("background","none");  
    $("#{FORM_PAI}").css("opacity","0.8"); 
      
    $( "#div-busca-cep" ).on( "shown.bs.modal", function() {
      $("#div-busca-cep").css("z-index", "1500");
      //$('#busca-paciente-nome').focus();
    });  
    
    $( "#div-busca-cep" ).on( "hidden.bs.modal", function() {
      $(".modal-backdrop" ).css("background","black");  
      $("#{FORM_PAI}").css("opacity","1"); 
    }); 

    $("#localizar").click(function() {
      $("#resultado").html('<p align="center"><img src="../comum/img/loading.gif"/>&nbsp;&nbsp;Carregando...</p>');    
      
      $.post('../comum/listaEnderecos.php?idSessao={ID_SESSAO}',{
          logradouro  : $("#logradouro").val()
        },
        function(resposta){     
          $("#resultado").html(resposta);
        }
      );
      
      return false;
    });    
  });
  
  function selecionar(cep) {
    $("#{CAMPO_CEP}").val(cep);
    $("#{CAMPO_CEP}").blur();
    $( "#div-busca-cep" ).modal('hide');
  }
  
</script>

<div id="div-busca-cep" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="label-busca-cep" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="label-busca-cep">Busca de CEP</h4>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <label for="logradouro">Endereço:</label>
        <input class="span8 uppercase" type="text" id="logradouro" name="logradouro" value=""/>
      </div>
    </div>  
    <div class="row-fluid">
      <div class="span12">
        <label for="localizar"></label>
        <input type="button" class="btn btn-inverse" id="localizar" name="localizar" value="Localizar"/>
        <span>Ex: Av Paulista, SP</span>
      </div>
    </div>
    <div id="resultado"></div>    
  </div>
</div>
  
  
