<script type="text/javascript">
/*******************************************/
/** load                                  **/
/*******************************************/ 
function abreJanela(pagina,protocolo) {
  var win = abrirPopUp('','janela',500,600);  
  $("#p").val(protocolo);
  $("#form2").attr("target",'janela');
  $("#form2").attr("action",pagina + '?idSessao={ID_SESSAO}');
  $("#form2").submit(); 
  
  return false;    
}

function abrirJanela(pagina) {
  abrirPopUp(pagina + '?idSessao={ID_SESSAO}','janela',500,600);  
  return false;
}

function exclusao(pagina,protocolo,op) {
  $("#prot").val(protocolo);
  $("#id_usuario").val(protocolo);
  $("#op").val(op);
  $("#form2").attr("target",'');
  $("#form2").attr("action",pagina + '?idSessao={ID_SESSAO}');
  $("#form2").submit(); 
  
  return false;    
}

function voltar(pagina,parametro) {
  window.location.href = pagina + '?idSessao={ID_SESSAO}' + parametro;
  return false;
}

function impCarteira(op,protocolo) {
  var win = abrirPopUp('','janela',500,600);  
  $("#p").val(op);
  $("#op").val(protocolo);
  $("#form2").attr("target",'janela');
  $("#form2").attr("action",'../comum/impCarteirinhas.php?idSessao={ID_SESSAO}');
  $("#form2").submit(); 
  
  return false;  
}

function impProtocolo(op,protocolo) {
  var win = abrirPopUp('','janela',500,600);  
  $("#op").val(op);
  $("#idProtocolo").val(protocolo);
  $("#form2").attr("target",'janela');
  $("#form2").attr("action",'imprimeProtocolo.php?idSessao={ID_SESSAO}');
  $("#form2").submit(); 
  
  return false;  
}

</script>

<form id="form2" name="form2" action="" method="post">
  <input type="hidden" name="p" id="p" value="">
  <input type="hidden" name="op" id="op" value=""> 
  <input type="hidden" name="prot" id="prot" value=""> 
  <input type="hidden" name="id_usuario" id="id_usuario" value="">   
  <input type="hidden" name="idProtocolo" id="idProtocolo" value="">  
</form>

<div class="alert {CLASSE}">
<!-- BEGIN MENSAGEM2 -->            
  <p>{MSG2}</p>
</div>
<div class="container">  
  <!-- BEGIN BOTOES -->
  <p class="text-center">
    <!-- BEGIN BOTAO1 -->
    <button type="button" class="btn btn-inverse" id="botao1" name="botao1" onclick="{BOTAO1_ACTION}">{BOTAO1_DESC}</button>
    <!-- END BOTAO1 -->
    <!-- BEGIN BOTAO2 -->
    <button type="button" class="btn btn-inverse" id="botao2" name="botao2" onclick="{BOTAO2_ACTION}">{BOTAO2_DESC}</button>
    <!-- END BOTAO2 -->
    <!-- BEGIN BOTAO3 -->
    <button type="button" class="btn btn-inverse" id="botao3" name="botao3" onclick="{BOTAO3_ACTION}">{BOTAO3_DESC}</button>
    <!-- END BOTAO3 -->
  </p>
  <!-- END BOTOES -->  
<!-- END MENSAGEM2 -->        
</div>