<script>
$().ready(function() {
  $("#cancelar").click(function() {
    window.close();
    return false;
  });
});

</script>
<br>
<br>

<!-- BEGIN MENSAGEM -->
<div class="alert {CLASSE}">
{MSG}
</div>
<!-- END MENSAGEM -->

<div class="row-fluid">
  <form method="post" id="form-inclusao-arquivo" class="form-horizontal" enctype="multipart/form-data">
  
    <!-- BEGIN MOSTRA_NOME -->
    <div class="control-group">
      <label class="control-label" for="nome">Nome:</label>
      <div class="controls">
        <input type="text" id="nome" name="nome" value="{ARQUIVO_NOME}"/>
      </div>
    </div>
    <!-- END MOSTRA_NOME -->
    
    <!-- BEGIN MOSTRA_ARQUIVO -->
    <div class="control-group">
      <label class="control-label" for="arquivo">Arquivo:</label>
      <div class="controls">
        <input type="file" id="arquivo" name="arquivo" value=""/>
      </div>
    </div>
    <!-- END MOSTRA_ARQUIVO -->

    <div class="control-group">
      <label class="control-label" for="enviar"></label>
      <div class="controls">
        <input type="submit" class="btn btn-inverse" id="enviar" name="enviar" value="{BOTAO_NOME}"/>
        <input type="button" class="btn btn-inverse" id="cancelar" name="cancelar" value="Cancelar"/>
        <input type="hidden" id="pIdArquivo" name="pIdArquivo" value="{ID_SUPERIOR}"/>
        <input type="hidden" id="pTipo" name="pTipo" value="{TIPO}"/>
        <input type="hidden" id="pLocal" name="pLocal" value="{LOCAL}"/>
      </div>
    </div>        
  </form>
</div>
