<style>
  #form1 {
    max-width:600px;
    margin: 0 auto;
  }
</style>

<!-- BEGIN ERRO -->
<div class="alert {CLASSE}">
  {MSG}
</div>
<!-- END ERRO -->   
          
<form method="post" id="form1" name="form1" class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="select_ano">Ano base:</label>
    <div class="controls">
      <select name="select_ano" id="select_ano">
        <!-- BEGIN ANOS -->
        <option value='{ANO}'>{ANO}</option>
        <!-- END ANOS -->
      </select>
      <input type="submit" class="btn btn-inverse" id="listar" name="listar" value="Listar" />                                        
    </div>
  </div>   
</form>