<div class="row-fluid">
<!-- BEGIN PERMITE_EDITAR -->
<a href="#" onclick="novoDiretorio();">
<img src="../comum/img/diretorio.png" border="0" width="20px"/>&nbsp;Nova Pasta
</a>
&nbsp;
<a href="#" onclick="novoArquivo();">
<img src="../comum/img/novo.png" border="0" width="20px"/>&nbsp;Novo arquivo
</a>
&nbsp;
<a href="#" onclick="apagarArquivo();">
<img src="../comum/img/lixeira.png" border="0" width="20px"/>&nbsp;Excluir arquivo
</a>
&nbsp;
<!-- END PERMITE_EDITAR -->
<a href="#" onclick="atualiza();">
<img src="../comum/img/refresh.png" border="0" width="20px"/>&nbsp;Atualizar
</a>
<br>
<br>
</div>

<table class="table table-condensed"> 
  <tr bgcolor="#EEEEEE">
    <!-- BEGIN PERMITE_EDITAR2 -->
    <td><input type="checkbox" disabled></td>
    <!-- END PERMITE_EDITAR2 -->
    <td>Nome</td>
    <td>Data</td>
    <td>Tipo</td>
  </tr> 
  <!-- BEGIN LINHA -->
  <tr>
    <!-- BEGIN PERMITE_EDITAR3 -->  
    <td><input type="checkbox" name="arquivos" onclick="marcarArquivo('{PROTOCOLO}');" value="{PROTOCOLO}"></td>
    <!-- END PERMITE_EDITAR3 -->    
    <td>        
      <a href="#" onclick="abrirArquivo('{PROTOCOLO}','{IMAGEM}','{DIRETORIO}','{DIRETORIO_NOME}');">
      <img src="../comum/img/{IMAGEM_ICONE}" border="0" width="20px"/>&nbsp;{ASSUNTO}</a>
    </td>
    <td>{DATA_ENVIO}</td>
    <td>{TIPO}</td>
  </tr>                   
  <!-- END LINHA -->
</table>
