<script type="text/javascript">
function detalhe(operacao,id) {
  $("#op").val(operacao);
  $("#id").val(id);
  $("#form2").attr("target",'');
  $("#form2").attr("action",'relCarteirasDet.php?idSessao={ID_SESSAO}');
  $("#form2").submit(); 
}
</script>

<form id="form2" name="form2" action="" method="post">
  <input type="hidden" id="op" name="op" value="">
  <input type="hidden" id="id" name="id" value="">  
</form>

<!-- BEGIN PROTOCOLOS -->
<div class="container">
  <p>{CARTEIRNHAS_TIPO}</p>
  <!-- BEGIN LINHA -->
  <p>
    <a onclick="detalhe('{OPERACAO}',{ID});" href='#'>{ID}</a>
  </p>
  <!-- END LINHA -->
  <br />
  <hr>
</div>
<!-- END PROTOCOLOS -->
