  <style>
    .form-signin {
      max-width: 300px;
      padding: 19px 29px 29px;
      margin: 50px auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.05);
         -moz-box-shadow: 0 5px 5px rgba(0,0,0,.05);
              box-shadow: 0 5px 5px rgba(0,0,0,.05);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
      font-size: 16px;
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
    }  
  </style>
  
  <div class="container">

    <form class="form-signin" method="post">
      <h2 class="form-signin-heading"></h2>
      <!-- BEGIN MOSTRA_MSG -->
      <div class="alert {MSG_CLASSE}">
        <p>{MSG}</p>
      </div>
      <!-- END MOSTRA_MSG --> 
      <input  type="password"     class="input-block-level" placeholder="Digite a senha atual" id="atual" name="atual" autocomplete="off">
      <input  type="password"     class="input-block-level" placeholder="Digite a nova senha" id="nova_senha" name="nova_senha"  autocomplete="off">
      <input  type="password" class="input-block-level" placeholder="Confirme a nova senha" id="nova_senha2"    name="nova_senha2"  autocomplete="off">
      <button type="submit"   class="btn btn-inverse" id="alterar" name="alterar">Alterar</button>      
      
      <!-- BEGIN RECUPERA_SENHA -->
      <p><br><a href="#">Esqueci minha senha</a></p>
      <!-- END RECUPERA_SENHA -->      
    </form>

  </div> 